@function px2rpx($px) {
  @return $px*2+rpx;
}



.nav-header {
  height: 200rpx;
  background-color: #e7691d;
}

.nav-main-image {
  padding: 42rpx;

  .t-url {
    width: px2rpx(333);
    height: px2rpx(117);
    border-radius: px2rpx(10);
    margin-bottom: 20rpx;
    overflow: hidden;


    image {
      width: 100%;
      height: 100%;
    }
  }

}