@function px2rpx($px) {
  @return $px*2+rpx;
}

#Estimation {
  margin-bottom: px2rpx(60);
}

.nav-bg {
  height: px2rpx(566);

  image {
    width: 100%;
  }
}

.nav-yf-est {
  margin-top: px2rpx(20);
  padding: px2rpx(20);
  font-size: px2rpx(14);

  //标题
  .yf-title {
    font-size: px2rpx(18);
    font-weight: bold;
    color: #101010;
  }

  .yf-way {
    display: flex;
    justify-content: space-between;
    margin-top: px2rpx(14);

    .yf-left-way {
      width: px2rpx(154);
      height: px2rpx(86);
      background-color: #89c3f6;
      color: #0881EC;
      line-height: px2rpx(25);
      border-radius: px2rpx(14);
      text-align: center;
      padding: px2rpx(15) 0;
      box-shadow: 0 0 px2rpx(8) px2rpx(-3) black;
      box-sizing: border-box;
    }

    .yf-right {
      color: #0ab42c;
      background-color: #89ec9c;
    }
  }

  .tj-calculate {
    width: px2rpx(333);
    height: px2rpx(86);
    line-height: px2rpx(25);
    text-align: center;
    background-color: #90aef6;
    margin-top: px2rpx(14);
    border-radius: px2rpx(14);
    padding: px2rpx(18) 0;
    box-shadow: 0 0 px2rpx(8) px2rpx(-3) black;
    box-sizing: border-box;
  }

  .jg-price {
    width: px2rpx(333);
    height: px2rpx(86);
    background-color: #0b73f7;
    border-radius: px2rpx(14);
    text-align: center;
    margin-top: px2rpx(14);
    color: #f8f8f8;
    font-size: px2rpx(16);
    padding: px2rpx(16) 0;
    box-shadow: 0 0 px2rpx(8) px2rpx(-3) black;
    box-sizing: border-box;
  }
}


//遮罩
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .block {
    position: relative;
    width: px2rpx(310);
    height: px2rpx(285);
    line-height: px2rpx(20);
    border-radius: px2rpx(4);
    background-color: #fff;
    overflow: hidden;
    box-sizing: border-box;

    .wra-title {
      padding: px2rpx(17) 0;
      text-align: center;
      font-size: px2rpx(18);
      font-weight: bold;
      letter-spacing: px2rpx(2);
    }

    //内容框
    .wra-center {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 px2rpx(27);

      //转运渠道
      .van-tus {
        width: px2rpx(114);
        line-height: px2rpx(48);
        border-radius: px2rpx(7);
        text-align: center;
        border: px2rpx(1) solid #bbb;
        color: #4C168E;
        font-size: px2rpx(16);
        margin-bottom: px2rpx(11);
      }

      .selected {
        background-color: #4C168E;
        color: white;
        border: px2rpx(1) solid #4C168E;
      }

      //预估重量
      .inputv {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: px2rpx(160);
        border: px2rpx(1) solid #4e148c;
        text-align: center;
        border-radius: px2rpx(4);

        .inputTit {
          margin-bottom: px2rpx(10);
          font-weight: 600;
          color: #266f42;
          letter-spacing: px2rpx(2)
        }

        input {
          width: px2rpx(200);
          height: px2rpx(40);
          border: px2rpx(1) solid #bbb;
          border-radius: px2rpx(4);
          margin-bottom: px2rpx(10);
        }

        text {
          position: absolute;
          top: 50%;
          right: px2rpx(5);
          font-size: px2rpx(16);
          font-family: '宋体';
          color: #888;
        }
      }


    }

    .wra-footer {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;

      .van-button {
        width: px2rpx(155);
        height: px2rpx(48);
        border: none;
        font-weight: bold;
        font-size: px2rpx(16);
        border-radius: 0;
      }
    }
  }
}